<footer class="end-wrapper">
  <hr COLOR="orange"  >
  <div class="copy-right">
    <p> Product Created By <b> <%= link_to('TQR', 'https://pk.linkedin.com/in/touqeer-ahmad-6a7b32b7') %></b></p>
    <p>Product Powered By <%= link_to('Ruby on Rails', 'http://rubyonrails.org/') %></p>
    <p>API Powered By <%= link_to('Food2Fork', 'http://www.food2fork.com/') %></p>
    <p>Foodicted: Copyrights and trademarks for the food recipes, and other promotional materials
    are held by their respective owners and their use is allowed under the fair use clause of the
    <%= link_to("Copyright Law") %> | <%= link_to("Privacy Policy") %> | <%= link_to("DMCA") %> </p>
  </div>
</footer>
